@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$background-color: white;
$hamburger-color:#D7E3F8;
$color-corp: black;
$button-color: #79A7F3;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: white;
  font-family: 'Work Sans',Helvetica,Arial,Lucida,sans-serif;
}


.navbar{
  padding: 25px 18px 5px;
  background-color: white;
  //height: 50px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;

  a {
    text-decoration: none;
    color: $color-corp;
  }
  .header-text-wedding{
    border-bottom: 2px solid;
    margin-right: 10px;
  }
}
#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;

}


ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: $background-color;
}

ul li {
  padding: 5px;
  margin-left: 10px;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

#login,
#signup {
  border-radius: 30px;
}

#login {
   border: 1px solid $button-color;
  /* color: white; */
  padding:   10px 32px;
  a{
    color: $button-color;
  }
}


#signup {
  background: $button-color;
  /* color: white; */
  padding: 10px 23px;
  margin-top: 25px;
  a {
    color: $background-color;
  }
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
}

//

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: end;
  justify-content: flex-start;

}

.mobile-menu {
  display: none;
  position: absolute;
  top: 99px;
  /* left: 0; */
  height: calc(100vh - 50px);
  /* width: 100%; */
  background: $hamburger-color;
  right: 0;
  padding: 20px 5%;

  li{
    margin-bottom: 10px;
  }
}


.header-texts{
  display: none;
}
.icons{
  display: none;
}


@media only screen and (max-width: 981px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .header-texts{
    display: flex;
    background-color: #D7E3F8;
    justify-content: flex-end;
    padding: 12px;
    color: black;
    position: fixed;
    width: 100%;
    .header-text-wedding{
      border-bottom: 2px solid;
      margin-right: 10px;
    }
    .header-text-novios{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .navbar{
    position: fixed;
    width: 100%;
    top: 49px;
    height: 50px;
    padding: 14px;
  }

  .icons{
    color: black;
    display: flex;
    align-items: flex-start;
  }

}
